@font-face {
  font-family: 'Jetbrains Mono';
  src: url(/JetBrainsMono-Regular1.woff2);
  font-display: swap;
}

body {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Jetbrains Mono', monospace;
  margin: 0;
  padding: 0 50px;
  box-sizing: border-box;
}

time {
  font-family: monospace;
  color: #888;
}

a { text-decoration: none; }
a:link { color: #a9d9d9; }
a:visited { color: #d9a9a9; }


/* --- Header Container Styling --- */
header {
  padding: 2rem 0;
}


/* --- Main Title Styling --- */
h1 {
  margin: 0 0 1.5rem 0;
  padding: 0;
}


/* --- Header Navigation --- */
.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
  gap: 1rem;
}

.main-nav a {
  background-color: transparent;
  color: #a9d9d9;
  border: 1px solid #555555;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
}
.main-nav a:hover {
  background-color: #222222;
}


.content-header-bar {
  background-color: #222222;
  padding: 0.25rem 0;
  margin: 2rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
}


/* --- Filter Buttons --- */
.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 0;
}

.filter-buttons button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 0.5rem 1rem;
  font-family: 'Jetbrains Mono', monospace;
  cursor: pointer;
  border-radius: 6px;
}
.filter-buttons button:hover {
  background-color: #222222;
}

.post-list-container {
  max-width: 80ch;
  margin: 0 auto;
}
.post-list-container ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.post-list-container li {
  margin-bottom: 0.5rem;
}

.footer-bar {
  background-color: #000000;
  margin-top: 2rem;
  text-align: right;
  padding: 15px 15px 1rem 1rem;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .main-nav {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  
  body {
    padding: 0 20px;
  }
}

.gallery {
  max-width: 100%;
}

.gallery img {
  height: 150px;  
  width: auto;   
  object-fit: cover; 
  border-radius: 4px;
}
