{% extends "base.html" %}

{% block meta %}
<title>Eatmynerds Webpage</title>
<meta name="description" content="Personal reflections, thoughts, and tech discussion">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock meta %}

{% block content %}
<header>
    <h1>Eatmynerds Webpage</h1>
    <nav class="main-nav">
      <a href="/games-i-like">🎮Games I like🎮</a>
      <a href="/things-i-like">❤️Things I like❤️</a>
      <a href="/programs">💻Programs I use💻</a>
    </nav>
</header>

<main>
  <h1 class="content-header-bar">Recent Posts</h1>

  <div x-cloak>
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.store('filter', {
          filter: '',
          check(el) {
            return this.filter === '' || el.textContent.includes(this.filter)
          }
        })
      })
    </script>
    <div class="filter-buttons" x-data>
      <button x-on:click="$store.filter.filter = '📚'">📚 Personal</button>
      <button x-on:click="$store.filter.filter = '💻'">💻 Tech</button>
      <button x-on:click="$store.filter.filter = '🍚'">🍚 Random</button>
      <!-- <button x-on:click="$store.filter.filter = ''">Reset Filters</button> -->
    </div>
  </div>

  <div class="post-list-container">
    <ul x-data>
      {% set lifestyle = get_section(path="personal/_index.md") %}
      {% set tech = get_section(path="tech/_index.md") %}
      {% set recipes = get_section(path="random/_index.md") %}
      {% set feed = lifestyle.pages | concat(with=tech.pages) | concat(with=recipes.pages) %}
      {% for post in feed | sort(attribute="date") | reverse | slice(end=15) %}
        <li x-show="$store.filter.check($el)">
          <time>{{ post.date | date(format="%d.%m.%Y") }}</time> –
          <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock content %}
